.greedy-nav .visible-links a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.greedy-nav .visible-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background: #bdc1c4;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.archive a:hover {
  text-decoration: underline;
  color: black;
}

.home-content,
.page__content {
  @apply clear-both w-full float-left ml-0 mr-0;
}

#recent-news {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f3f3;
}

@media (min-width: 48em) {
  .news {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .archive {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 57.8125em) {
  .home {
    width: 83.0508474576%;
    float: right;
    margin-right: 0;
    padding-left: 4.2372881356%;
    padding-right: 16.9491525424%;
  }

  .news {
    width: 83.0508474576%;
    float: right;
    margin-right: 0;
    padding-left: 4.2372881356%;
  }

  .archive {
    width: 83.0508474576%;
    float: right;
    margin-right: 0;
    padding-left: 4.2372881356%;
  }
}
