html {
  position: relative;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 9em;
  color: #494e52;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !important;
  line-height: 1.5 !important;
}

.greedy-nav .visible-links a {
  position: relative;
}

.sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  clear: both;
  margin-bottom: 1em;
}

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
}

.author__avatar img {
  max-width: 175px;
  border-radius: 50%;
}

.sidebar img {
  width: 100%;
}

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 57.8125em) {
  .sticky {
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
  }

  .sticky > * {
    display: block;
  }

  .sticky::after {
    clear: both;
    content: "";
    display: table;
  }

  .author__avatar {
    display: block;
    width: auto;
    height: auto;
  }

  .author__avatar img {
    padding: 5px;
    border: 1px solid #f2f3f3;
  }

  .author__content {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
