body {
  margin: 0;
  padding: 0;
  padding-bottom: 9em;
  color: #494e52;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.masthead {
  @apply relative z-20 border-b border-[#f2f3f3] animate-intro delay-[150ms];
}

.masthead__inner-wrap {
  @apply max-w-[925px] mx-auto clear-both p-[1em];
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

.greedy-nav {
  @apply relative min-w-[250px] bg-[#fff];
}

.greedy-nav button {
  @apply absolute h-full right-0 py-0 px-2 bg-[#7a8288] text-[#fff] cursor-pointer;
  border: 0;
  outline: none;
}

.navicon {
  @apply relative w-7 h-1 bg-[#fff] m-auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.masthead__menu ul {
  @apply m-0 p-0 clear-both list-none;
}

.greedy-nav .visible-links li {
  @apply table-cell align-middle;
}

.masthead__menu-item--lg {
  @apply pr-[2em] font-bold;
}

.masthead__menu-item {
  @apply block list-none whitespace-nowrap;
}

.greedy-nav a {
  @apply block my-0 mx-4 py-2 px-0 text-[#7a8288] no-underline;
}

.greedy-nav .visible-links a:before {
  @apply absolute left-0 bottom-0 h-1 bg-[#bdc1c4] w-full;
  content: "";
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.masthead__inner-wrap::after {
  @apply clear-both table;
  content: "";
}

.sidebar::after {
  @apply clear-both table;
  content: "";
}

@media (min-width: 57.8125em) {
  .sidebar {
    @apply w-[15.2542372881%] float-left mr-[1.6949152542%] opacity-100;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
}

@media (min-width: 80em) {
  .masthead__inner-wrap {
    max-width: 1280px;
  }

  .sidebar {
    padding-right: 0;
  }
}
